.product-preview-card {
    box-sizing: border-box;
    width: 320px;
    height: 380px;
    padding: 25px;
    background-color: #f5f6f7;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-preview-card-header,
.product-preview-card-footer {
    display: flex;
    justify-content: space-between;
}

.product-preview-card-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-preview-card-pic img {
    max-height: 230px;
    max-width: 100%;
}

.product-preview-card-title {
    color: #aa9b77;
}

.product-preview-card-price {
    font-size: 1rem;
}