.main-category-filter-item {
    display: flex;
    align-items: center;
    margin-right: 45px;
}

.main-category-filter-item input {
    cursor: pointer;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

.main-category-filter-item label {
    text-transform: uppercase;
    cursor: pointer;
}